*/package-lock.json
*/node_modules

client/dist

*.env

# Hardhat files
auction/cache
auction/contracts/artifacts
auction/contracts/.states

# TypeChain files
auction/typechain
auction/typechain-types

# solidity-coverage files
auction/coverage
auction/coverage.json

# Hardhat Ignition default folder for deployments against a local node
auction/ignition/deployments/chain-31337
